* {
  margin: 0;
  padding: 0;
}

article {
  width: 60%;
  margin: auto;
}
.cart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}
.butten-cart {
  width: 40px;
  height: 20px;
}

.delete {
  width: 50px;
  height: 30px;
  margin-left: 20px;
}

.total {
  font-size: 30px;
}

p {
  font-weight: bolder;
}
